    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>码字空间</h1>
        <p>韩巍的一点点墨水</p>
        <p><a class="btn btn-primary btn-lg" href="/posts" role="button">进入博客</a></p>
      </div>
    </div>
<script>
  $('body').css({
    "background": "url(../images/bg.png) fixed",
    "background-size": "cover"
  });
</script>
